:root {
    // fluid design
    --container-width: clamp(45rem, 70vw, 55rem);
}

/* Make post lists or grids wrap automatically */
.post-list,
.grid-layout {
    display: grid !important;
    /* This creates as many columns as fit, at least 300px wide each */
    grid-template-columns: repeat(
        auto-fit,
        minmax(min(300px, 100%), 1fr)
    ) !important;
    gap: 1.5rem !important;
}

main {
    margin-top: 0rem;
}

@media screen and (max-width: 45rem) {
  :root {
    --font-size-xx-small: 0.46875rem !important;
    --font-size-x-small: 0.5859375 !important;
    --font-size-small: 0.703125rem !important;
    --font-size-medium: 0.9375rem !important;
    --font-size-large: 1.03125rem !important;
    --font-size-x-large: 1.125rem !important;
    --font-size-xx-large: 1.40625rem !important;
    --font-size-xxx-large: 1.6875rem !important;
  }
}
