@use "lato.scss";
@use "inter-tight.scss";
@use "open-sans.scss";

:root {
    --font-nav-bar: "Lato", var(--font-system-ui);
    --font-headings: "Lato", var(--font-system-ui);
    // --font-size-xx-small: 0.5rem;
    --font-size-xx-small: 0.625rem;
    --font-size-x-small: 0.75rem;
    --font-size-small: 0.875;
    --font-size-medium: 1rem;
    --font-size-large: 1.1rem;
    --font-size-x-large: 1.2rem;
    --font-size-xx-large: 1.5rem;
    --font-size-xxx-large: 1.8rem;
}

body {
    font-family: "Open Sans", var(--font-system-ui), var(--font-emoji);
    font-size: var(--font-size-medium);
    font-weight: 375;
    letter-spacing: 0.005em;
}

// HEADINGS
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--font-headings);
    letter-spacing: 0em;
    text-transform: uppercase;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 300;
}

#heading h1,
#article-list article h3,
h4 {
    text-transform: none;
    font-weight: 800;
}

.katex {
    font:
        normal 1.05em KaTeX_Main,
        Times New Roman,
        serif !important;
    line-height: 1 !important;
}
