@use "lato.scss";
@use "inter-tight.scss";
@use "open-sans.scss";

:root {
    --font-nav-bar: "Inter Tight", var(--font-system-ui);
    --font-headings: "Lato", var(--font-system-ui);
    --font-size-xx-small: 0.46875rem;
    --font-size-x-small: 0.5625rem;
    --font-size-small: 0.65625rem;
    --font-size-medium: 0.75rem;
    --font-size-large: 0.9375rem;
    --font-size-x-large: 1.125rem;
    --font-size-xx-large: 1.5rem;
    --font-size-xxx-large: 2rem;
}

body {
    font-family: "Open Sans", var(--font-system-ui), var(--font-emoji);
    font-size: var(--font-size-large);
    font-weight: 375;
}

// HEADINGS
h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-headings);
    letter-spacing: 0em;
}

h1, h2, h3 {
    font-weight: 600;
}

h4, h5, h6 {
    font-weight: 800;
}
