:root {
    // --font-system-ui: system-ui, sans-serif;
    --font-system-ui: "Inter Tight";
}

@font-face {
  font-style: normal;
  font-weight: 100 900;
  src: url("fonts/InterTight.woff2") format("woff2");
  font-family: "Inter Tight";
}

@font-face {
  font-style: italic;
  font-weight: 100 900;
  src: url("fonts/InterTight-Italic.woff2") format("woff2");
  font-family: "Inter Tight";
}

@font-face {
  font-style: normal;
  font-weight: 900;
  src: url("fonts/Lato-Black.woff") format("woff");
  font-family: "Lato";
}

@font-face {
  font-style: normal;
  font-weight: 800;
  src: url("fonts/Lato-Heavy.woff") format("woff");
  font-family: "Lato";
}

@font-face {
  font-style: normal;
  font-weight: 700;
  src: url("fonts/Lato-Bold.woff") format("woff");
  font-family: "Lato";
}

@font-face {
  font-style: normal;
  font-weight: 600;
  src: url("fonts/Lato-Semibold.woff") format("woff");
  font-family: "Lato";
}

@font-face {
  font-style: normal;
  font-weight: 500;
  src: url("fonts/Lato-Medium.woff") format("woff");
  font-family: "Lato";
}

@font-face {
  font-style: normal;
  font-weight: 400;
  src: url("fonts/Lato-regular.woff") format("woff");
  font-family: "Lato";
}

@font-face {
  font-style: normal;
  font-weight: 300;
  src: url("fonts/Lato-Light.woff") format("woff");
  font-family: "Lato";
}

@font-face {
  font-style: normal;
  font-weight: 200;
  src: url("fonts/Lato-Thin.woff") format("woff");
  font-family: "Lato";
}

@font-face {
  font-style: normal;
  font-weight: 100;
  src: url("fonts/Lato-Hairline.woff") format("woff");
  font-family: "Lato";
}

@font-face {
  font-style: italic;
  font-weight: 900;
  src: url("fonts/Lato-BlackItalic.woff") format("woff");
  font-family: "Lato";
}

@font-face {
  font-style: italic;
  font-weight: 800;
  src: url("fonts/Lato-HeavyItalic.woff") format("woff");
  font-family: "Lato";
}

@font-face {
  font-style: italic;
  font-weight: 700;
  src: url("fonts/Lato-BoldItalic.woff") format("woff");
  font-family: "Lato";
}

@font-face {
  font-style: italic;
  font-weight: 600;
  src: url("fonts/Lato-SemiboldItalic.woff") format("woff");
  font-family: "Lato";
}

@font-face {
  font-style: italic;
  font-weight: 500;
  src: url("fonts/Lato-mediumItalic.woff") format("woff");
  font-family: "Lato";
}

@font-face {
  font-style: italic;
  font-weight: 400;
  src: url("fonts/Lato-Italic.woff") format("woff");
  font-family: "Lato";
}

@font-face {
  font-style: italic;
  font-weight: 300;
  src: url("fonts/Lato-LightItalic.woff") format("woff");
  font-family: "Lato";
}

@font-face {
  font-style: italic;
  font-weight: 200;
  src: url("fonts/Lato-ThinItalic.woff") format("woff");
  font-family: "Lato";
}

@font-face {
  font-style: italic;
  font-weight: 100;
  src: url("fonts/Lato-HairlineItalic.woff") format("woff");
  font-family: "Lato";
}

body {
    font-family: "Lato", var(--font-emoji);
    // font-family: "Inter Variable", var(--font-emoji);
    // font-family: "Inter Variable", var(--font-system-ui), var(--font-emoji);
    // font-family: var(--font-system-ui), var(--font-emoji);
    font-weight: 400;
}

// HEADINGS
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--font-system-ui);
    letter-spacing: 0em;
}

h1,
h2,
h3 {
    font-weight: 450;
}

h4,
h5,
h6 {
    font-weight: 650;
}

h1 {
    font-size: var(--font-size-xx-large);
}

h2 {
    font-size: var(--font-size-x-large);
}

h3 {
    font-size: var(--font-size-large);
}

h4 {
    font-size: var(--font-size-medium);
}

h5 {
    font-size: var(--font-size-small);
}
