@use "lato.scss";
@use "inter-tight.scss";
@use "open-sans.scss";

:root {
    --nav-bar-font: "Inter Tight";
    --font-size-xx-small: 0.46875rem;
    --font-size-x-small: 0.5625rem;
    --font-size-small: 0.65625rem;
    --font-size-medium: 0.75rem;
    --font-size-large: 0.9375rem;
    --font-size-x-large: 1.125rem;
    --font-size-xx-large: 1.5rem;
    --font-size-xxx-large: 2rem;
}

body {
    font-family: "Open Sans", var(--font-emoji);
    font-weight: 370;
}

// HEADINGS
h1, h2, h3, h4, h5, h6 {
    font-family: "Lato";
    letter-spacing: 0em;
}

h1, h2, h3 {
    font-weight: 600;
}

h4, h5, h6 {
    font-weight: 800;
}

body {
  font-size: var(--font-size-large);
}
