:root {
    // --font-system-ui: system-ui, sans-serif;
    --font-system-ui: "Lato";
}

@font-face {
	font-style: normal;
	font-weight: 100 900;
	src: url("fonts/InterVariable.woff2") format("woff2");
	font-family: "Inter Variable";
	font-display: swap;
}

@font-face {
	font-style: italic;
	font-weight: 100 900;
	src: url("fonts/InterVariable-Italic.woff2") format("woff2");
	font-family: "Inter Variable";
	font-display: swap;
}

@font-face {
    font-style: normal;
    font-weight: 800 900;
    src: url("fonts/Lato-Black.woff") format("woff");
    font-family: "Lato";
    font-display: swap;
}

@font-face {
    font-style: normal;
    font-weight: 600 700;
    src: url("fonts/Lato-Bold.woff") format("woff");
    font-family: "Lato";
    font-display: swap;
}

@font-face {
    font-style: normal;
    font-weight: 400 500;
    src: url("fonts/Lato-Regular.woff") format("woff");
    font-family: "Lato";
    font-display: swap;
}

@font-face {
    font-style: normal;
    font-weight: 300;
    src: url("fonts/Lato-Light.woff") format("woff");
    font-family: "Lato";
    font-display: swap;
}

@font-face {
    font-style: normal;
    font-weight: 100 200;
    src: url("fonts/Lato-Thin.woff") format("woff");
    font-family: "Lato";
    font-display: swap;
}

@font-face {
    font-style: italic;
    font-weight: 800 900;
    src: url("fonts/Lato-BlackItalic.woff") format("woff");
    font-family: "Lato";
    font-display: swap;
}

@font-face {
    font-style: italic;
    font-weight: 600 700;
    src: url("fonts/Lato-BoldItalic.woff") format("woff");
    font-family: "Lato";
    font-display: swap;
}

@font-face {
    font-style: italic;
    font-weight: 400 500;
    src: url("fonts/Lato-Italic.woff") format("woff");
    font-family: "Lato";
    font-display: swap;
}

@font-face {
    font-style: italic;
    font-weight: 300;
    src: url("fonts/Lato-LightItalic.woff") format("woff");
    font-family: "Lato";
    font-display: swap;
}

@font-face {
    font-style: italic;
    font-weight: 100 200;
    src: url("fonts/Lato-ThinItalic.woff") format("woff");
    font-family: "Lato";
    font-display: swap;
}

body {
    font-family: "Inter Variable", var(--font-emoji);
    // font-family: "Inter Variable", var(--font-system-ui), var(--font-emoji);
    // font-family: var(--font-system-ui), var(--font-emoji);
    font-weight: 350;
}

// HEADINGS
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--font-system-ui);
    letter-spacing: 0em;
}

h1,
h2,
h3 {
    font-weight: 400;
}

h4,
h5,
h6 {
    font-weight: 600;
}

h1 {
    font-size: var(--font-size-xx-large);
}

h2 {
    font-size: var(--font-size-x-large);
}

h3 {
    font-size: var(--font-size-large);
}

h4 {
    font-size: var(--font-size-medium);
}

h5 {
    font-size: var(--font-size-small);
}
