@font-face {
  font-style: normal;
  font-weight: 100 900;
  src: url("fonts/InterTight.woff2") format("woff2");
  font-family: "Inter Tight";
}

@font-face {
  font-style: italic;
  font-weight: 100 900;
  src: url("fonts/InterTight-Italic.woff2") format("woff2");
  font-family: "Inter Tight";
}
