@font-face {
  font-style: normal;
  font-weight: 900;
  src: url("fonts/LatoLatin-Black.woff") format("woff");
  font-family: "Lato";
}

@font-face {
  font-style: normal;
  font-weight: 800;
  src: url("fonts/LatoLatin-Heavy.woff") format("woff");
  font-family: "Lato";
}

@font-face {
  font-style: normal;
  font-weight: 700;
  src: url("fonts/LatoLatin-Bold.woff") format("woff");
  font-family: "Lato";
}

@font-face {
  font-style: normal;
  font-weight: 600;
  src: url("fonts/LatoLatin-Semibold.woff") format("woff");
  font-family: "Lato";
}

@font-face {
  font-style: normal;
  font-weight: 500;
  src: url("fonts/LatoLatin-Medium.woff") format("woff");
  font-family: "Lato";
}

@font-face {
  font-style: normal;
  font-weight: 400;
  src: url("fonts/LatoLatin-Regular.woff") format("woff");
  font-family: "Lato";
}

@font-face {
  font-style: normal;
  font-weight: 300;
  src: url("fonts/LatoLatin-Light.woff") format("woff");
  font-family: "Lato";
}

@font-face {
  font-style: normal;
  font-weight: 200;
  src: url("fonts/LatoLatin-Thin.woff") format("woff");
  font-family: "Lato";
}

@font-face {
  font-style: normal;
  font-weight: 100;
  src: url("fonts/LatoLatin-Hairline.woff") format("woff");
  font-family: "Lato";
}

@font-face {
  font-style: italic;
  font-weight: 900;
  src: url("fonts/LatoLatin-BlackItalic.woff") format("woff");
  font-family: "Lato";
}

@font-face {
  font-style: italic;
  font-weight: 800;
  src: url("fonts/LatoLatin-HeavyItalic.woff") format("woff");
  font-family: "Lato";
}

@font-face {
  font-style: italic;
  font-weight: 700;
  src: url("fonts/LatoLatin-BoldItalic.woff") format("woff");
  font-family: "Lato";
}

@font-face {
  font-style: italic;
  font-weight: 600;
  src: url("fonts/LatoLatin-SemiboldItalic.woff") format("woff");
  font-family: "Lato";
}

@font-face {
  font-style: italic;
  font-weight: 500;
  src: url("fonts/LatoLatin-MediumItalic.woff") format("woff");
  font-family: "Lato";
}

@font-face {
  font-style: italic;
  font-weight: 400;
  src: url("fonts/LatoLatin-Italic.woff") format("woff");
  font-family: "Lato";
}

@font-face {
  font-style: italic;
  font-weight: 300;
  src: url("fonts/LatoLatin-LightItalic.woff") format("woff");
  font-family: "Lato";
}

@font-face {
  font-style: italic;
  font-weight: 200;
  src: url("fonts/LatoLatin-ThinItalic.woff") format("woff");
  font-family: "Lato";
}

@font-face {
  font-style: italic;
  font-weight: 100;
  src: url("fonts/LatoLatin-HairlineItalic.woff") format("woff");
  font-family: "Lato";
}
