@font-face {
  font-style: normal;
  font-weight: 100 900;
  src: url("fonts/Open-Sans.woff2") format("woff2");
  font-family: "Open Sans";
  font-display: swap;
}

@font-face {
  font-style: italic;
  font-weight: 100 900;
  src: url("fonts/Open-Sans-Italic.woff2") format("woff2");
  font-family: "Open Sans";
  font-display: swap;
}
